<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Expensess Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  color="primary">
       <ion-grid fixed >
        <ion-row *ngFor="let category of categories" >
          <ion-col size="8"  >
            <div color="primary">
              {{category.name | titlecase}}
            </div>
          </ion-col>
          <ion-col size="2">
            <div>
              <ion-icon name="trash-outline" (click)="confirmDeleteMessage(category)"  slot="icon-only"></ion-icon>
            </div> 
          </ion-col>
          <ion-col size="2">
            <div>
               <ion-icon name="create" (click)="updateCategory(category)" slot="icon-only"></ion-icon>
             </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  <ion-fab vertical="bottom" (click)="addNewCategory('ADD')" horizontal="end" slot="fixed">
    <ion-fab-button  color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>