<ion-content>

  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" novalidate>
      <ion-list>
        <div class="img-continer">
          <img src="assets/icon/expenses.jpg" alt="icon-img">
        </div>            
          <ion-item>
            <ion-icon slot="start" color="primary"  name="person"></ion-icon>
            <ion-label color="primary" position="">
              <span>Username</span>
            </ion-label>
            <ion-input clearInput formControlName="UserName" type="text"></ion-input>
          </ion-item>
           <ion-item>
            <ion-icon slot="start" color="primary" name="lock-closed"></ion-icon>
            <ion-label color="primary" position="">
              <span>Password</span>
            </ion-label>
            <ion-input clearInput type="password" formControlName="Password"></ion-input>
          </ion-item>
         <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Sign In</ion-button>
          </ion-col>
         </ion-row>
         <div class="ion-padding">
             <ion-nav-link [routerLink]="['/signup']">Create New Account</ion-nav-link>  
          </div>
      </ion-list>
    </form>
  </div>
</ion-content>



