<ion-content class="ion-padding" color="primary">
  <form (ngSubmit)="submitLoginForm()" autocomplete="off" novalidate>
    <h3 [hidden]="isSignup">Sign In</h3>
    <h3 [hidden]="!isSignup">Sign Up</h3>

    <ion-list class="ion-no-padding">
      <ion-item color="primary">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="user.UserName" name="username" type="text"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.Password" name="password" type="password"></ion-input>
      </ion-item>

      <ion-item [hidden]="!isSignup" color="primary">
        <ion-icon slot="start"  name="lock-closed"></ion-icon>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input  [(ngModel)]="user.ConfirmPassword" name="confirmPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>
 
    <ion-button color="dark" [hidden]="isSignup" type="submit" class="ion-margin-top ion-margin-buttom" expand="block"
      shape="round">Sign In</ion-button>

    <ion-button color="dark" type="submit" [hidden]="!isSignup" class="ion-margin-top ion-margin-buttom" expand="block"
      shape="round"> Sign Up </ion-button>

    <ion-button color="light" class="ion-margin-top" [hidden]="isSignup" (click)="changePageState()"  expand="block"
      shape="round">Create Account</ion-button>
    <ion-button color="light" class="ion-margin-top" [hidden]="!isSignup" (click)="changePageState()"  expand="block"
      shape="round">Sign In</ion-button>

  </form>
</ion-content>